@charset "utf-8";
textarea {
    resize: none;
}

body {
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    text-align: center;
}

.put_in{
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font-size: 15px;
    background: #1d8ce0;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
    height: 40px;
    width: 70px;
}
.put_in:hover{
    transform: scale(0.96);
}