<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eddy.evaluate.dao.SysCourseTeacherMapper">


    <select id="selectTeacherStudy" resultType="map">
                select sc.course_name,
               sc.course_no
        from sys_course_teacher as sct
               join sys_course as sc
                    on sc.course_no = sct.course_no
        where sct.t_id = #{tid}
    </select>

</mapper>
